@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.text-style {
  font-size: 12vw;
  font-weight: 600;
  line-height: 200%;
  width: 100%;
  text-align: center;
  color: white;
  text-transform: uppercase;
  position: absolute;
}

.container-style {
  position: absolute;
  top: -6rem;
  width: 10rem;
  height: 10rem;
  transform: scale(0);
  left: 50%;
  transform: translateX(-50%);
}
