@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --white: #ffffff;
}
html,
body {
  height: 100vh;
  margin: 0;
}

body {
  color: var(--white);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.text-style {
  font-size: 12vw;
  font-weight: 600;
  line-height: 200%;
  width: 100%;
  text-align: center;
  color: white;
  text-transform: uppercase;
  position: absolute;
}

.container-style {
  position: absolute;
  top: -6rem;
  width: 10rem;
  height: 10rem;
  transform: scale(0);
  left: 50%;
  transform: translateX(-50%);
}

.card {
  border: 4px solid #000000;
}
